---
title: "Workspace Import Failed"
preheader: "There was an issue with your workspace import"
bodyClass: bg-purple-50
---

<x-main>
  <div class="bg-purple-50 font-helvetica sm:px-4 px-12 sm:py-12 py-24 text-black">
    <table align="center">
      <tr>
        <td class="w-[622px] max-w-full text-center">
          <p class="w-full text-center break-words whitespace-normal text-2xl">
            <span class="text-3xl font-bold">Notion Import Failed</span>

          </p>

          <p class="w-full text-center break-words whitespace-normal text-2xl">
            <span class="mx-2=1 text-[#a33227]">{{ error }}</span>
          </p>

          <div class="mx-auto  leading-4.5 text-sm text-[#221703]0 text-center w-[70%]">
            Join our Discord <a href="https://africanresearchsociety.org" class="text-[#e8b23a]">server</a> to get quick help
            or <a href="https://africanresearchsociety.org/issues/new/choose" class="text-[#e8b23a]">
            report</a> the issue on GitHub
          </div>

          <x-divider space-x="20%"/>
        </td>
      </tr>
      <tr>
        <td class="text-center text-slate-600 text-xs px-6">
          <p class="m-0 mb-4 uppercase cursor-pointer">
            <a href="https://africanresearchsociety.org">
              <img src="{{ cdnBaseUrl }}images/appflowy-logo.png" width="150px">
            </a>
          </p>
          <p class="m-0 text-sm text-black font-medium">
            Research for Africa, by Africa.
          </p>

          
        </td>
      </tr>
    </table>
  </div>
</x-main>

